spring:
  profiles:
     active:
     - dev 
---   
   
server:
  port: 8001
spring:
  profiles: dev
  application:
    name: application-dev-config-dept-client
  datasource:
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/db_cloud_dept?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
      dbcp2:
       min-idle: 5
       initial-size: 5
       max-total: 5
       max-wait-millis: 200
      username: root
      password: shi1996@.

mybatis:
  config-location: classpath:/mybatis/mybatisConf.xml
  type-aliases-package: com.springcloud.api.enties
  mapper-locations: classpath:/mybatis/mapper/*.xml

#新增eureka配置

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
  instance:
    instance-id: application_dept_8001   #起别名
    prefer-ip-address: true  #显示IP地址

---

server:
  port: 8001
spring:
  profiles: test
  application:
    name: application-dev-config-dept-client
  datasource:
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/db_cloud_dept?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
      dbcp2:
       min-idle: 5
       initial-size: 5
       max-total: 5
       max-wait-millis: 200
      username: root
      password: shi1996@.

mybatis:
  config-location: classpath:/mybatis/mybatisConf.xml
  type-aliases-package: com.springcloud.api.enties
  mapper-locations: classpath:/mybatis/mapper/*.xml

#新增eureka配置

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
  instance:
    instance-id: application_dept_8001   #起别名
    prefer-ip-address: true  #显示IP地址
